{% extends 'base.html' %}
{% load product_extras %}
{% block content %}

<div class="col-3">
    {% if product.image %}
    <img src="{{ product.image.url}}" alt="imagen del producto" width="202" height="202">
    {% endif %}
</div>
<div class="col">
    <div class="h3 fw-bold text-success">
        Producto agregado al carrito de compras
    </div>
    <div>
        <a href="{% url 'products:product' product.slug %}">
            {{ product.title }}
        </a>
    </div>
    <div class="fw-bold text-danger">
        {{ product.price | price_format }}
    </div>
    <div class="mt-2">
        <a href="{% url 'carts:cart'  %}" class="fw-bold btn btn-info" style="color:white">Ver carrito</a>
    </div>
</div>
{% endblock %}